@model FinancialPortal.Models.Transaction

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <h4>Transaction Details</h4>
    <table class="notMytable table" style="line-height: 1.5" table-width="100%">

        <thead>
            <tr>
                <th>
                    Account Name
                </th>
                <th>
                    Category Item
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Transaction Type
                </th>
                <th>
                    Amount
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.BankAccount.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CategoryItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Owner.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TransactionType.Type)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Amount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Created)
                </td>

            </tr>
        </tbody>
    </table>
    <p>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("Edit", "Transactions", new { id = Model.Id })">
            <i class="fas fa-pencil">
            </i>
            Edit Transaction
        </a>


        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
        <a class="btn btn-secondary btn-sm" onclick="history.back(-1)">
            <i class="fas fa-arrow-alt-circle-left">
            </i>
            Go Back
            <br />
        </a>
    </p>
</div>