@model FinancialPortal.ViewModels.CategoryViewModel
<head>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>

<style>
    #plus {
        height: 126px !important;
        padding-top: 40px;
    }

    #question {
        margin-left: 10px;
    }
</style>
<div class="content-wrapper" style="padding-right: 20px; padding-left: 20px;">
    @*<div class="container">*@
    <h3>Debit Categories</h3>
    <div class="row">
        <div class="col-12">
            <div class="row">
                @foreach (var category in Model.Categories.Where(d => d.DebitCredit == false))
                {
                    <div class="col-lg-2 col-2">
                        <!-- small box -->
                        <div class="small-box bg-gradient-primary">
                            <div class="inner" id="boxtitle">
                                <h2 style="color: #343a40">@category.Name</h2>

                                Target Spending

                                <h4 style="color: #ffffff">$<span class="counter">@category.TargetAmount.ToString("N2")</span></h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="" data-toggle="modal" data-target="#addCategoryItem" class="small-box-footer" style="color: blanchedalmond" data-id="@category.Id">
                                Add A Category Item
                            </a>
                        </div>
                    </div>
                }

                <div class="col-lg-2 col-2" id="addbox">
                    <!-- small box -->
                    <div class="small-box bg-gradient-primary">
                        <div class="addicon">
                            <a href="" data-toggle="modal" data-target="#addDebitCategory" class="fas fa-plus-circle fa-4x" style="margin-left: 70px; color:blanchedalmond" id="plus"></a>
                        </div>
                        <a href="" data-toggle="modal" data-target="#addDebitCategory" class="small-box-footer" style="color: blanchedalmond">
                            Add Debit Category <i style="color: blanchedalmond" class="fas fa-question-circle" id="question" data-placement="right"
                                                  title="A Debit Category is a category that will take money from your account, such as a Utilities, Entertainment, or Housing."></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*data-toggle="modal" data-target="#addDebitCategory*@

    <h3>Credit Categories</h3>
    <div class="row">
        <div class="col-12">
            <div class="row">
                @foreach (var category in Model.Categories.Where(d => d.DebitCredit == true))
                {
                    <div class="col-lg-2 col-2">
                        <!-- small box -->
                        <div class="small-box bg-gradient-success">
                            <div class="inner" id="boxtitle">
                                <h2 style="color: #343a40">@category.Name</h2>

                                Money In
                                <h4 style="color: #ffffff">$<span class="counter">@category.CategoryItems.SelectMany(c => c.Transactions).Where(t => t.TransactionTypeId == Model.CreditTransId).Select(t => t.Amount).Sum()</span></h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <div class="small-box-footer" style="color: blanchedalmond">
                                Credit Category
                            </div>
                        </div>
                    </div>
                }
                <div class="col-lg-2 col-2" id="addbox">
                    <!-- small box -->
                    <div class="small-box bg-gradient-success">
                        <div class="addicon">
                            <a href="" data-toggle="modal" data-target="#addCreditCategory" class="fas fa-plus-circle fa-4x" style="margin-left: 70px; color:blanchedalmond" id="plus"></a>
                        </div>
                        <a href="" data-toggle="modal" data-target="#addCreditCategory" class="small-box-footer" style="color: blanchedalmond">
                            Add Credit Category <i style="color: blanchedalmond" class="fas fa-question-circle" id="question" data-placement="right" title="A Credit Category is any category of transaction that will add money to your account, such as a deposit or transfer."></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Debit Modal-->
<div class="container">
    <div class="modal fade" id="addDebitCategory">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" color="dark">
                    <h4 class="modal-title">Add Debit Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("CreateDebitCategory", "Categories", FormMethod.Post, new { id = "form-add-category" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="name" />
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="description" />
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Target Amount", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-12 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text form-control">$</span>
                                    </div>
                                    <input type="text" @*class="form-control"*@ name="target" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text form-control">.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-secondary">Add</button>
                                </div>
                            </div>
                        </div>
                    }

                    @*<div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@

                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Credit Modal-->
<div class="container">
    <div class="modal fade" id="addCreditCategory">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" color="dark">
                    <h4 class="modal-title">Add Credit Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("CreateCreditCategory", "Categories", FormMethod.Post, new { id = "form-add-category" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="name" />
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="description" />
                                </div>
                            </div>
                            <br />
                            <div class="col-auto ml-auto align-self-end">
                                <button type="submit" class="btn btn-secondary">Add</button>
                            </div>
                        </div>
                    }

                    @*<div class="modal-footer justify-content-between">*@
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@

                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Category Item Modal-->
<div class="container">
    <div class="modal fade" id="addCategoryItem">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" color="dark">
                    <h4 class="modal-title">Add Category Item</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Assigned to Category

                    @foreach (var category in Model.Categories)
                    {
                        <li>
                            @category.Name
                        </li>
                    }


                    @using (Html.BeginForm("Create", "CategoryItems", FormMethod.Post, new { id = "form-add-categoryItem" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <input id="categoryId" name="CategoryId" value="" hidden />
                            </div>

                            <div class="form-group">
                                @Html.Label("Item Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="name" />
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Optional Item Description", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="description" />
                                </div>
                            </div>
                            <br />
                            <div class="col-auto ml-auto align-self-end">
                                <button type="submit" class="btn btn-secondary toastrDefaultInfo">Add</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/toastr.min.js"></script>
    <script>
        $('#addCategoryItem').on('show.bs.modal', function (e) {
            var modalId = $(e.relatedTarget).data('id');
            $('#categoryId').attr('value', modalId);

        });
    </script>

    <script type="text/javascript">
        $(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            //$('.toastrDefaultInfo').on("click", () => {
            //    toaster["info"]("You have successfully added this category item.")
            //});
            $('#form-add-categoryItem').on("submit", function (e) {
                e.preventDefault();
                alert("hello")
                toastr["error"]("There was an error updating your transaction.", "Update Error!")
            })    </script>
}
